GITHUB_TOKEN=your_github_personal_access_token_here

GITLAB_TOKEN=your_gitlab_personal_access_token_here
# Self-hosted GitLab: set to your instance URL (e.g. https://gitlab.mycompany.com)
# Defaults to https://gitlab.com if not set
GITLAB_URL=https://gitlab.com

AZURE_DEVOPS_TOKEN=your_ado_personal_access_token_here
AZURE_DEVOPS_ORG=your_organization_name_here
